@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Josefin+Sans:wght@333&family=Jost:wght@300&family=Open+Sans:wght@300&display=swap');

html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
header a{
	font-family: 'Jost', sans-serif;
	text-decoration: none;
	font-size: 25px;
	z-index: 10000;
	color: #FF8D6F;
}
#bars, #bars1{
	display: none;
}
.menu{margin: 0px 90px;}
#home #wh{margin: 0px 50px;}
nav{display: flex;}
header{
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #fffafa;
	padding: 10px 0;
	justify-content: center;
	box-shadow: 5px 5px 50px #f5ebeb;
	z-index: 1000;
	transition: top 0.5s ease-in-out;
}
#head{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo{
	height: 80px;
	width: 125px;
	margin: 0px 35px;
	z-index: 1001;
	filter: drop-shadow(2px 1px 2px #F4C25C);
}
#logo:hover{cursor: pointer;}
a:hover{
	color: #a6e66a;
	transition: 0.1s ;
}
#article1{
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: safe center;
	margin-top: 20px;
}
#article{
	position: absolute;
	height: 660px;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: safe center;
	margin-top: 20px;
}
.parallax-window {
    background: transparent;
}
.section{
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
#pic{
  height:597.41px;
	margin: 120px 0 0 -550px;
	width: 431px;
	 -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.title{
	position: absolute;
	font-size: 40px;
	font-family: 'Jost', sans-serif;
	color: #333;
	background: linear-gradient(to top, #FFF0AB 50%, transparent 50%);
	margin: 170px 0 10px -45px ;
	letter-spacing: 2.5px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1s;
  z-index: 20;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#title1{
	margin-top: 230px;
	color: #ff8636;
	text-shadow: 1px 2px 10px #FFFFFF;
}
::selection {
  color: #FFF0AB;
  background: #333;
}
#pbtn{
	position: absolute;
	margin-top: 320px;
	margin-left: 30px;
	width: 500px;
}
#txt, #btn, .colorbtn{
	position: static;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 28.5px;
	color: #444;
}
#btn, .colorbtn{
	margin-top: 15px;
	border: none;
	background-color: #fff;
	padding: 5px 15px;
	cursor: pointer;
	box-shadow: 4px 5px 0px #FFD2D2;
}
#btn:active{
	position: relative;
	top: 5px;
	left: 4px;
	box-shadow: 0px 0px 0px #FFD2D2;
}
.colorbtn:active{
	position: relative;
	top: 5px;
	left: 4px;
	box-shadow: 0px 0px 0px #FFD2D2;
}
#ptbndiv{
	width: 300px;
	display: flex;
	justify-content: space-between;
}
.colorbtn{background-color: #ff8686;}
#section2{background-color: white;}
#article2{
	display: flex;
	justify-content: space-between;
	margin: 50px 0;	
}
#left{
	height: 500px;
	margin-top: 300px;
}
#right{
	margin-top: 50px;
	height: 400px;
}
#right,#left{z-index:1;}
#article3{
	margin-top: 150px;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.title2, .title3{
	font-family: 'IBM Plex Mono', monospace;
	color: #212121;
	font-size: 36px;
}
#s2art3d1{
	margin-left: 80px;
	width: 40%;
}
.skisqs {
	height: 242px;
	width: 255px;
	border-radius: 10px;
	margin:15px 5px;
	background-color: white;
	box-shadow: 11px 10px 38px rgba(246, 224, 206, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.skisqs:hover{
	box-shadow: 16px 15px 30px rgba(246, 224, 206, 1);
	background-color: rgba(66, 48, 17,.7);
}
.skisqs:hover .skih5{
	color: #fff;
}
.skisqs:hover .ds{
	transform: scale(0.8);
}
#s2art3d2{
	display: flex;
	width: 50%;
	justify-content: space-evenly;
	margin-left: 40px;
	margin-top: -30px;
}
.skisq{margin-left: 0px;}
#d2, #d4 {margin-top: 40px;}
#skisq2{
	margin-top: 65px;
	margin-left: -20px;
}
.ds {
	transition: all 0.4s ease-out;
	transform-origin: top;
	height: 86px;
	width: 86px;
	border-radius: 50px;
	background-color: #E19999;
}
.skisqs:hover .skih5{
	transform: translateY(-40px);
	font-size: 15px;
}
.skisqs:hover .skih52{
	transform: translateY(-30px);
	font-size: 15px;
}
.skih5{
	transform: translateY(0px);
	transition: all 0.4s ease-out;
	font-size: 20px;
	font-family: 'IBM Plex Mono', monospace;
	text-align: center;
	color: #232323;
}
.skisqs:hover .skih3{
		transform: translateY(-45px);
		opacity: 1;
}
.skih3{
	opacity: 0;
	transform: translateY(0px);
	transition: all 0.3s ease-out;
}
.skih3 a:hover{
	color: 	rgba(191,202,212,1);
}
.skih3 a{
	text-decoration:none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	color: 	rgba(191,202,212,0.8);
}
.skisqs:hover .skih32{
		transform: translateY(-30px);
		opacity: 1;
}
#desktop, #code, #mobile, #annim, #brush{
	position: absolute;
	color: #fffff0;
}
#desktop{
	font-size: 30px;
	margin-top: 27px;
	margin-left: 27px;
}
#code{
	font-size: 15px;
	margin-left: -24px;
	margin-top: 2px;
}
#mobile{
	font-size: 45px;
	margin-top: 22px;
	margin-left: 32px;
}
#annim{
	font-size: 40px;
	margin-top: 25px;
	margin-left: 22px;
}
#brush{
	font-size: 40px;
	margin-top: 25px;
	margin-left: 22px;
}
#para{
	position: static;
	width: 500px;
	font-size: 20px;
	line-height: 30px;
	color: #616161;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}
#certif{
	color: #C9A919;
	text-shadow: 2px 2px 4px #FFF9DE;;
}
.percent{
	display: flex;
	justify-content: space-between;
}
.skill {
	width: 40%;
	height: 1px;
	background-color: #D8D8D8;
	position: absolute;
	margin-top: 5px;
	z-index: -1;
}
.percent p, .counter {
	color: #212121;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	margin-bottom: 5px;
}
.reveal {
	height: 13px;
	background-color: #FFE35C;
	width: 0%;
	animation: fill 2.1s forwards;
}
@keyframes fill{
	100%{
		width: 100%;
	}
}
#jq {
	max-width: 70%;
}
#html {
	max-width: 90%;
}
#boot {
	max-width: 80%;
}
#s2art3d12 {
	margin-top: 100px;
}
.percentnum{
	display: flex;
	justify-content: space-around;
}
#section3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width:100%;
	align-items: center;
	margin: 100px 0;
	background-image: url(bg1.jpg);
	height:800px;
	background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	box-shadow: 13px 15px 25px rgba(255, 220, 207, 0.8), 
						  -10px -15px 25px rgba(255, 220, 207, 0.8),
						  10px 10px 10px rgba(235, 227, 219, 0.4),
						  -10px -10px 10px rgba(235, 227, 219, 0.4);
}
#article31{
	height: 550px;
	width: 80%;
	margin-top: 50px;
	padding-top: 100px;
}
.flickity-button {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: #333;
}
  .flickity-prev-next-button:hover {
	background: #F90;
 }
  /* arrow color */
  .flickity-prev-next-button.no-svg {
	color: rgb(255, 255, 255);
}
  /* position outside */
  .flickity-prev-next-button.previous {
	left: -40px;
}
  .flickity-prev-next-button.next {
	right: -40px;
}
.carousel-cell{
	width: 600px;
	height: 450px;
	background-color: rgba(255, 255, 255, .8);
	margin: 0 10px;
	border-radius: 20px;
}
.title3{
	margin-top: 50px;
}
#article30 {
	display: flex;
	justify-content: space-between;
	width: 80%;
}
#p{
	width: 50%;
}
.picpro {
	width: 560px;
	height: 320px;
	z-index: 0;
	margin-top: -35px;
	margin-left: -10px;
	cursor: pointer;
}
.fstdiv{
	margin: 30px;
	display: flex;
	flex-direction: column;
}
.type{
	font-size: 15px;
	background-color: #bdabda;
	padding: 5px 7px  3px 7px;
	font-family: 'Josefin Sans', sans-serif;
}
.secdiv{
	z-index: 1;
	display: flex;
}
.txtpro{
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 30px;
	cursor: pointer;
}
footer {
	background-color:#FFF2E1;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	padding: 10px 0;
}
.foottxt{
	font-family: 'Jost', sans-serif;
	text-decoration: none;
	font-size: 20px;
	z-index: 10000;
	color: #FF8D6F;
	margin-top: 8px;
}
#footlogo{
	filter: drop-shadow(2px 1px 2px #F4C25C);
}
#footicon2{
	font-size: 35px;
	margin-left: 5px;
	color: #aa66cc;
}
#footicon {
	font-size: 26px;
	margin-left: 5px;
	position: relative;
	top: -5px;
	color: #aa66cc;
}
.footicon{
	top: 10px;
}
.iconfoot{
	margin-top: 5px;
}
.ft1{
	text-decoration: none;
}
.ft1:hover #footicon, .ft1:hover #footicon2{
	color: #a6e66a;
	transition: 0.3s;
}
#menuToggle{display: none;}
#logo1{display: none;}

@media screen and (max-width: 680px) {

	header{
		width: 100%;
		padding: 0;
		height: 6em;
		z-index: 1000;
		top: 0;
		justify-content: center;
	}
	#head{
    left: 50%;
    width :100%;
    height: 1000em;
    z-index: -1;
		display: flex;
		flex-direction: column;
  	align-items: center;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
		position: absolute;
		background: rgba(31, 34, 39, .95);
    transition: all 0.2s ease;
    opacity: 0;
    padding-top: 70%;
	}
	#logo{display: none;}
	#logo1{
	height: 3.5em;
	width: auto;
	margin: 20px 0 0 15px;
	display: block;
	z-index: 9999;
	display: block;
}
	nav{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#nav1{
		margin-top: 200px;
	}
	.menu1{
		margin-top: 20px;
		font-size: 35px;
	}
	#bars{
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 9999;
		font-size: 45px;
		color: #636363;
	}
	#bars:hover{
		cursor: pointer;
	}
	nav a {
  	opacity: 0;
  	visibility: hidden;
  	transform: translateY(-20px);
    transition: all .2s ease;
    color: white;
    font-size: 5em;
  }
  #home{transition-delay: .2s;}
  #sk{transition-delay: .3s;}
  #ab{transition-delay: .4s;}
  #wh{transition-delay: .5s;}

	#menuToggle:checked ~ #head {
    opacity: 1;
    z-index: 9998;
  }
  #menuToggle:checked ~ #head nav a {
  	opacity: 1;
  	visibility: visible;
  	transform: translateY(0);
  }
  #menuToggle:checked ~ .menu-icon #bars{
  	color: white;
  }
  .section {width: 100%;}
	#article1{
		height: 750px;
		width: 100%;
		margin-top: 20px;
		position: absolute;
	}
	#article{
		flex-direction: column;
		position: relative;
		top: 0%;
		margin: 0;
	}
	#pic{
		height: 300px;
		width: 216.43px;
		margin: 0;

		align-self: center;
	}
	.title{
		margin: 10px 0;
		text-align: center;
		position: static;
	}
	#title1{
	  margin-top: 10px;
	}
	#pbtn{
		margin: 0;
		position: relative;
		text-align: center;

	}
	#divart{
		width: 100%;
	}
}